<%# <!DOCTYPE ejs>%>
<html>
<head>
  <meta charset="utf-8">
  <title>Bartenda 21</title>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel='stylesheet' type='text/css' href='/../../css/header.css'>
  <link rel='stylesheet' type='text/css' href='/../../css/footer.css'>
  <link rel='stylesheet' type='text/css' href='/../../css/dash.css'>
  <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
</head>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <div class="userPosts">
        <% for (let post of userPosts) { %>
          <a href='/bartenda/<%= post._id %>'><img src='<%= post.url %>'></a>
          <h3><%= post.drinkName %></h3>
          <h4><%= post.submittedBy %></h4>
          <p><%= post.ingredients %></p>
          <p><%= post.locationName %></p>
          <p><%= post.locationCity %></p>
          <p><%= post.locationState %></p>
          <p><%= post.price %></p>
          <p><%= post.yourComments %></p>
        <% } %>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
