<!DOCTYPE html>
<html>
  <%# Created partial for head content%>
  <% include ../partials/head.ejs %>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <form action='/bartenda/<%= post.id %>?_method=PUT', method='POST'>
        <h1>Edit your post</h1>
        <p>Enter your image URL*</p>
        <input type='text' name='url' value='<%= post.url %>'/>
        <p>Name of the bevvy?*</p>
        <input type='text' name='drinkName' value='<%= post.drinkName %>'/>
        <p>Submitted by?*</p>
        <input type='text' name='submittedBy' value='<%= post.submittedBy %>'/>
        <p>Ingredients</p>
        <input type='text' name='ingredients' value='<%= post.ingredients %>'/>
        <p>Where did you have this bevvy?</p>
        <input type='text' name='locationName' value='<%= post.locationName %>'/>
        <p>What city did you drink it in?</p>
        <input type='text' name='locationCity' value='<%= post.locationCity %>'/>
        <p>And the state? Not mental state, actual US state:</p>
        <input type='text' name='locationState' value='<%= post.locationState %>'/>
        <p>Price</p>
        <input type='number' name='price' value='<%= post.price %>'/>
        <p>Comment on your drink</p>
        <input type='text' name='yourComments' value='<%= post.yourComments %>'/>
        <p><button>Submit</button></p>
      </form>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
