<%# <!DOCTYPE ejs>%>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bartenda 21</title>
    <link rel='stylesheet' type='text/css' href='/../../css/footer.css'>
    <link rel='stylesheet' type='text/css' href='/../../css/index.css'>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class='heroVideo'>
        <video playsinline autoplay muted loop fade>
            <source src='../../video/whiskey.webm' type='video/webm'>
            <source src='../../video/whiskey.mp4' type='video/mp4'>
        </video>
      </div>
      <div class='mainTitle'>
        <h1 class='titleText' id='titleFont'>BARTENDA <sup>21</sup></h1>
        <h3 class='subtitleText' id='subtitleFont'>DISCOVER &amp; SHARE</h3>
      </div>
      <nav>
        <a class='login' href='/login'>Log in</a>
        <hr>
        <a class='register' href='/register'>Register</a>
      </nav>
    </header>
    <main>
      <% if (currentUser) { %>
        <h3 class="addNew"><a href='/bartenda/new'>Add a drink to the bar!</a></h3>
      <% } %>
      <div class='loggedIn'>
        <% if (currentUser) { %>
          <h1 class="welcome">Welcome, <%= currentUser.username %>.</h1>
          <% } else { %>
            <h1 class="welcome">Welcome.</h1>
          <h2 class="quickIntro">Click on any of the posts below to read more, including location, price and comments. Just people helping people, to avoid the nasty cocktails, and find the best craft beer. Enjoy!</h2>
          <% } %>
      </div>
      <div class='posts'>
        <% for (let post of allPosts) { %>
          <div class="postContent">
            <a class="hover" href='bartenda/<%= post._id %>'><img src='<%= post.url %>'>
              <h3 class="postTitle"><%= post.drinkName %></h3>
              <p class="submitted">Submitted by: <%= post.submittedBy %></p>
            </a>
          </div>
        <% } %>
      </div>
    </main>
    <footer>
      <div class="footer">
        <a class='credit-home' href='/terms'>Designed and Created by Carrie Sampson &copy;2017</a>
      </div>
    </footer>
  </body>
</html>
