<%# <!DOCTYPE ejs>%>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bartenda 21</title>
    <link rel='stylesheet' type='text/css' href='/../../css/footer.css'>
    <link rel='stylesheet' type='text/css' href='/../../css/index.css'>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class='heroVideo'>
        <video playsinline autoplay muted loop fade>
            <source src='../../video/whiskey.webm' type='video/webm'>
            <source src='../../video/whiskey.mp4' type='video/mp4'>
        </video>
      </div>
      <div class='mainTitle'>
        <h1 class='titleText' id='titleFont'>BARTENDA <sup>21</sup></h1>
        <h3 class='subtitleText' id='subtitleFont'>DISCOVER &amp; SHARE</h3>
      </div>
      <nav>
        <a class='login' href='/login'>Log in</a>
        <hr>
        <a class='register' href='/register'>Register</a>
      </nav>
    </header>
    <main>
      <div class='loggedIn'>
        <% if (currentUser) { %>
          <h2 class="welcome">Welcome <%= currentUser.username %>.</h2>
          <% } else { %>
            <h2 class="welcome">Welcome.</h2>
          <% } %>
        <% if (currentUser) { %>
          <h3 class="mgmt"><a href="/dash">Manage your posts</a><h3>
        <% } %>
        <% if (currentUser) { %>
          <form action="/login?_method=DELETE" method='POST'>
            <input type='submit' value='Log out' />
          </form>
        <% } %>
      </div>
      <div class='posts'>
        <% for (let post of allPosts) { %>
          <div class="postContent">
            <a href='bartenda/<%= post._id %>'><img src='<%= post.url %>'>
            <h3 class="postTitle"><%= post.drinkName %></h3>
            <p class="submitted">Submitted by: <%= post.submittedBy %></p>
            </a>
          </div>
        <% } %>
      </div>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
