<%# <!DOCTYPE ejs>%>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bartenda 21</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' href='/../../css/header.css'>
    <link rel='stylesheet' type='text/css' href='/../../css/footer.css'>
    <link rel='stylesheet' type='text/css' href='/../../css/index.css'>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
  </head>
  <body>
    <%# Created partial for header content%>
    <% include ../partials/header.ejs %>
    <main>
      <div class='col1'>
        <% if (currentUser) { %>
          <h3>Welcome <%= currentUser.username %>!</h3>
          <% } else { %>
            <h3>Welcome!</h3>
          <% } %>
        <% if (currentUser) { %>
          <form action="/login?_method=DELETE" method='POST'>
            <input type='submit' value='Log out' />
          </form>
        <% } %>
        <% if (currentUser) { %>
          <h3><a href="/dash">Manage your posts</a><h3>
        <% } %>
      </div>
      <div class='col2'>
        <% for (let post of allPosts) { %>
          <a href='/bartenda/<%= post._id %>'><img src='<%= post.url %>'></a>
          <h3><%= post.drinkName %></h3>
          <h4><%= post.submittedBy %></h4>
        <% } %>
      </div>
    </main>
    <%# Created partial for footer content%>
    <% include ../partials/footer.ejs %>
  </body>
</html>
