<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post Details</title>
  </head>
  <body>
    <header>
      <h1>BARTENDA 21</h1>
      <h3>DISCOVER & SHARE</h3>
    </header>
    <nav>
      <a href="#">log in</a>
      <a href="#">register</a>
      <a href="#">about</a>
    </nav>
    <main>
      <p><a href='/new'>Add a drink to the bar</a></p
      <div class="mainPost">
        <img src="<%= onePost.url %>">
        <h3><%= onePost.drinkName %></h3>
        <h4><%= onePost.submittedBy %></h4>
        <p><%= onePost.locationName %></p>
        <p><%= onePost.locationCity %></p>
        <p><%= onePost.locationState %></p>
        <p><%= onePost.price %></p>
        <p><%= onePost.yourComments %></p>

      </div>
    </main>
    <footer>
    </footer>

  </body>
</html>
